<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <title>Form Login</title>
</head>
<body>
    <header>
        <h1>MACAM - MACAM HIMPUNAN</h1>
        <P>UNIVERSITAS AMIKOM YOGYAKARTA</P>
        <div class="container1">
            <nav>
                <div class="buttons">
                    <ul>
                        <li><a href="/kumpulanhimpunan/" class="btnback">Back</a></li>
                    </ul>
                </div>
            </nav>
          </div>
    </header>
    <body>
                <div>
                    <a href="pagehimpunan/himpunan.html"></a>
                </div>
                    <div class="flex-container">
                        <a href="/pagehimpunan/" class="flex-item">
                            <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                            <h2 class="img-text">HIMTEK</h2>
                        </a>
                        <a href="/pagehimpunan/" class="flex-item">
                            <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                            <h2 class="img-text">HIMASI</h2>
                        </a>
                        <a href="/pagehimpunan/" class="flex-item">
                            <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                            <h2 class="img-text">HIMTI</h2>
                        </a>
                    </div>
                    <div class="flex-container">
                        <a href="/pagehimpunan/" class="flex-item">
                            <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                            <h2 class="img-text">HIMIKA</h2>
                        </a>
                        <a href="/pagehimpunan/" class="flex-item">
                            <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                            <h2 class="img-text">HIMMI</h2>
                            </a>
                        <a href="/pagehimpunan/" class="flex-item">
                                <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                                <h2 class="img-text">HIMIP</h2>
                        </a>
                    </div>
                <a href="home.html" class="previous round">&#8249;</a>
                <a href="pagehimpunan/himpunan.html" class="next round">&#8250;</a>
    <footer>
        <p>
            <div class="px-2 bg-light "><marquee class="py-3">Meyzel Jhofany Yuana 22.83.0823 | Muhammad Fahrun Nasyit 22.83.0790 | Mugni Saleh Maheswara 22.83.0814 | Faradilla Belva Nurwansya 22.83.0800 | Firma Danu Kusuma 22.83.0806</marquee></div>
        </p>
    </footer>
</body>
</html>