<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Form Login</title>
    
</head>
<body>
    <header>
        <h1>KUMPULAN EXPO</h1>
        <P>UNIVERSITAS AMIKOM YOGYAKARTA</P>
        <div class="container1">
            <nav>
              <ul>
                <li><a href="#">About</a></li>
              </ul>
              <div class="buttons">
                <a href="home.html" class="logout">Log out</a>
              </div>
            </nav>
          </div>
    </header>
    <body>
        <div class="flex-container">
            <a href="/himpunan/" class="flex-item">
                <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                <h2 class="img-text">HIMPUNAN</h2>
            </a>
            <a href="/himpunan/" class="flex-item">
                <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                <h2 class="img-text">KOMUNITAS</h2>
            </a>
            <a href="/himpunan/" class="flex-item">
                <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                <h2 class="img-text">MINAT & BAKAT</h2>
            </a>
        </div>
        <div class="flex-container">
            <a href="/himpunan/" class="flex-item">
                <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                <h2 class="img-text">PENALARAN & KEILMUAN</h2>
            </a>
            <a href="/himpunan/" class="flex-item">
                <img src="{{ url_for('static', filename='img/g1.png')}}" alt="Gambar">
                <h2 class="img-text">KEROHANIAN</h2>
                </a>
        </div>
            </a>
        </div>
    <footer>
        <p>
            <div class="px-2 bg-light "><marquee class="py-3">Meyzel Jhofany Yuana 22.83.0823 | Muhammad Fahrun Nasyit 22.83.0790 | Mugni Saleh Maheswara 22.83.0814 | Faradilla Belva Nurwansya 22.83.0800 | Firma Danu Kusuma 22.83.0806</marquee></div>
        </p>
    </footer>
</body>
</html>