<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <title>Form Login</title>
</head>
<body>
    <header>
        <h1>PENDAFTARAN AKUN EXPO</h1>
        <P>UNIVERSITAS AMIKOM YOGYAKARTA</P>
    </header>
    <div class="login-container">
        <form class="login-form" action="#" method="post">
            <h2>Login</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="number">no hp</label>
                <input type="number" id="number" name="number" required>
            </div>
            <button type="register" name="register">Submit</button>
        </form>
    <div class="create-account">
        Sudah Punya Akun?<a href="/">Login</a>
    </div>
    </div>
    </div>
    <footer>
        <p>
            <div class="px-2 bg-light "><marquee class="py-3">Meyzel Jhofany Yuana 22.83.0823 | Muhammad Fahrun Nasyit 22.83.0790 | Mugni Saleh Maheswara 22.83.0814 | Faradilla Belva Nurwansya 22.83.0800 | Firma Danu Kusuma 22.83.0806</marquee></div>
        </p>
    </footer>
</body>
</html>